<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    TextLo||<%= slug %>
  </title>
  <style>
    body {
      background-color: black;
      color: white;
      height: 100vh;
      width: 100vw;
      overflow: hidden;
    }

    textarea {
      background-color: black;
      color: white;
    }
  </style>
</head>

<body>
  <header style="height: 5vh;">
    <%= slug %>
  </header>

  <div id="container" style="width:100vw;height:95vh;"></div>

  <script src="/socket.io/socket.io.js"></script>
  <!-- Load the Monaco Loader -->
  <script src="https://unpkg.com/monaco-editor@latest/min/vs/loader.js"></script>
  <script>
    const slug = "<%= slug %>";
  </script>
  <script src="/js/playground.js"></script>
</body>

</html>